affine
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alembic
annotated-types
antimeridian
arrow
asf_tools
astropy
astropy-iers-data
asttokens
async-timeout
attrs
bokeh
boto3
botocore
branca
cachetools
certifi
cffi
cftime
charset-normalizer
claude
click
click-plugins
cligj
cloudpickle
colorama
comm
contourpy
coverage
cryptography
cycler
dask
dask-glm
dask-image
dask-ml
datacube
-e git+ssh://git@github.com/GeoscienceAustralia/dea-conflux.git@785acfa44a66088bbbe1fc34452bbd076cf4d3a2#egg=dea_conflux
dea-tools
debugpy
decorator
deprecat
distributed
docutils
eo-tides
exceptiongroup
executing
fiona
folium
fonttools
fqdn
frozenlist
fsspec
GDAL
GeoAlchemy2
geographiclib
Geohash
geohash2
geojson
geomad
geopandas
geopy
greenlet
hydrosar
idna
imagecodecs
ImageIO
importlib_metadata
iniconfig
ipykernel
ipython
isoduration
jedi
Jinja2
jmespath
joblib
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lark
lazy_loader
llvmlite
locket
looseversion
lxml
lz4
Mako
MarkupSafe
matplotlib
matplotlib-inline
moto
msgpack
multidict
multipledispatch
narwhals
nest-asyncio
netCDF4
networkx
numba
numexpr
numpy
odc-algo
odc-geo
odc-io
odc-loader
odc-stac
OWSLib
packaging
pandas
parso
partd
pexpect
pillow
PIMS
planetary-computer
platformdirs
pluggy
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
py-partiql-parser
pyarrow
pycparser
pydantic
pydantic_core
pyerfa
Pygments
pyogrio
pyparsing
pyproj
pysheds
pystac
pystac-client
pytest
python-dateutil
python-dotenv
python-geohash
pyTMD
pytz
PyYAML
pyzmq
rasterio
rasterstats
referencing
requests
responses
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rioxarray
rpds-py
s3fs
s3transfer
scikit-fuzzy
scikit-image
scikit-learn
scipy
seaborn
shapely
simplejson
six
slicerator
sortedcontainers
sparse
SQLAlchemy
stack-data
tblib
threadpoolctl
tifffile
timescale
tomli
toolz
tornado
tqdm
traitlets
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
Werkzeug
wrapt
xarray
xmltodict
xyzservices
yarl
zict
zipp
